@use '../../scss/' as *;

.movie-list {
}
.movie-grid {
  padding: 0 30px;
  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  //   grid-template-rows: 204px;
  gap: 15px;
  margin-bottom: 40px;

  //   @include sc {
  //     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  //   }
}
