@use '../../scss/' as *;

.movie-card {
  &-image {
    // width: 360px;
    height: 204px !important;
    // height: 100%;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 13px;
    .icon {
      position: absolute;
      top: 0;
      left: 10px;
    }
    .info {
      position: absolute;
      margin: 0 14px;
      width: calc(100% - 28px);
      bottom: 15px;
      transform: scale(0);
      transition: transform 0.3s ease;
      display: flex;
      justify-content: space-between;
      &-title {
        @include textFont(14px, 500, $white, 1.11);
        font-family: $font-family;
      }

      &-time {
        @include textFont(14px, 500, $white, 1.29);
        font-family: $font-family;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $black;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        opacity: 0.2;
      }

      &:hover .info {
        transform: scale(1);
      }
    }
  }

  &-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .auth-right {
      display: flex;

      gap: 15px;
      align-items: center;
    }
    .auth-flex {
      display: flex;

      gap: 5px;
      align-items: center;
    }

    .auth-name {
      @include textFont(12px, 300, $black, 1.5);
      font-family: $font-family;
    }
  }
}
