@use '../../../scss/' as *;

.modal-info {
  display: flex;
  width: calc(100% - 120px);
  margin: 0 60px;
  padding-top: 40px;
  gap: 30px;
  align-items: center;
  @include screen750 {
    padding-top: 100px;
  }
  @include screen1199 {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  @include screen1000 {
    width: 100%;
  }
  .info-left {
    width: 120px;
    height: 120px;
    .profile {
      width: 120px;
      height: 120px;
    }
  }

  .info-detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    height: 120px;
    @include screen1199 {
      height: 100%;
      gap: 20px;
      align-items: center;
    }

    .text {
      @include textFont(30px, 500, $black, 0.6);
      font-family: $font-family;

      @include screen750 {
        line-height: 1;
        text-align: center;
      }
    }

    .subText {
      display: flex;
      //   justify-content: center;
      align-items: center;
      margin-top: -15px;
      @include screen1199 {
        margin-top: 10px;
      }
      @include screen750 {
        flex-direction: column;
      }
      gap: 31px;
      .name {
        @include textFont(15.5px, 300, $black, 1.16);
        font-family: $font-family;
      }
      .type {
        @include textFont(15.5px, 500, #8c8c8c, 0.6);
        font-family: $font-family;
      }
    }

    .button-list {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      @include screen850 {
        flex-direction: column;
        align-items: center;
      }
      .button-left {
        display: flex;
        align-items: center;
        gap: 5px;
        @include screen750 {
          flex-direction: column;
          align-items: center;
        }

        .text-button {
          display: flex;
          align-items: center;
          gap: 5px;
          .text {
            @include textFont(12px, 400, $white, 2.08);
            font-family: $font-family;
          }
        }
      }

      .edit {
        @include textFont(12px, 400, $blackThree, 2.08);
        font-family: $font-family;
      }
    }
  }
}
