@use '../../scss/' as *;

.header {
  background-color: $black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  //   font-family: $font;

  &-left {
    // width: 100%;
    display: flex;
    align-items: center;
  }
  &-menu {
    display: flex;
    @include textFont(14px, 500, $gray, 29px);
    padding-left: 40px;
    align-items: center;
    font-family: $font-family;
    & > * ~ * {
      margin-left: 30px;
    }
    &-text {
      //   color: $gray;
    }
  }

  &-mid {
    max-width: 548px;
    // width: 100%;
    width: 100%;
    transition: 0.5s;
    @include screen1250 {
      transition: 0.5s;
      width: 400px;
    }
    @include screen1199 {
      transition: 0.5s;
      width: 300px;
    }
    input {
      width: 100%;

      padding: 6px 26px;
      color: $white;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid $gray;
      outline: none;
      @include textFont(14px, 500, $white, 29px);
    }

    & input::placeholder {
      @include textFont(14px, 400, $white, 29px);
      line-height: 2.07;
      letter-spacing: 1px;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    & > * ~ * {
      margin-left: 30px;
    }
  }

  &-icon-search {
    width: 21px;
    height: 21px;
  }
  &-auth {
    @include textFont(14px, 500, $gray, 29px);

    align-items: center;
    font-family: $font-family;
    display: flex;
    & > * ~ * {
      margin-left: 30px;
    }
  }

  &-icon-menu {
    display: none;

    @include screen950 {
      display: block;
    }
  }
}
