//color
$white: #ffffff;
$black: #070707;
$blackThree: #222222;
$blackFour: #292929;
$cerulean: #31a8ff;
$redLight: #ff2e43;
$gray: #8f8f8f;
$grayLight: #efefef;
//responsive
$screen1250: 1250px;
$screen1199: 1199px;
$screen1000: 1000px;
$screen950: 950px;
$screen850: 850px;
$screen750: 750px;
$screen650: 650px;
$screen550: 550px;
$screen450: 450px;
$screen350: 350px;

//font
$font-family: 'Montserrat', sans-serif;

//max-width
$max-width: 1920px;
